<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.AgricuUserDao">
    <!--sultMap id="" type="com.qf.domain.AgricultureUser">
        <result property="user_id" column="userId"/>
        <result property="user_name" column="userName"/>
        <result property="user_sex" column="userSex"/>
        <result property="user_password" column="userPassword"/>
        <result property="user_email" column="userEmail"/>
        <result property="user_money" column="userMoney"/>
        <result property="user_picture" column="userPicture"/>
        <result property="user_paypassword" column="userPayPassword"/>
    </resultMap>-->

    <update id="updatepaypassword">
        UPDATE	 agriculture_user SET
        user_paypassword =#{userPaypassword}
        WHERE
        user_id = #{userid}
    </update>
</mapper>
