<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.dao.ProductShopDao">
    <resultMap id="productShopResult" type="com.qf.domain.ProductShop">
        <result property="sid" column="sid"/>
        <result property="proid" column="proid"></result>
    </resultMap>

    <insert id="saveProductShop" parameterType="com.qf.domain.ProductShop" >
        insert into shop_product values(#{sid},#{proid})
    </insert>

    <delete id="deleteShopProduct" parameterType="int" >
        DELETE FROM shop_product
        <where>
            sid=#{shopId}
        </where>
    </delete>


    <select id="loadByShopIdShowProductId" resultMap="productShopResult">
        select *
        from shop_product
        where sid in
        <foreach collection="list" item="sid" index="index"
                 open="(" close=")" separator=",">
            #{sid}
        </foreach>
    </select>
    
    <select id="loadShowShopIdByProductId" resultMap="productShopResult">
        select * from shop_product where sid=#{productId}
    </select>
</mapper>